<%- include('includes/head.ejs') %>
</head>

<body>
   <%- include('includes/navigation.ejs') %>

    <% if(users.length> 0) { %>
        <% for(user of users) { %>
            <h2>
                <%= user.name %>
            </h2>

            <% } %>

                <% } else { %>
                    <h1>No users!</h1>
                    <% } %>
</body>

</html>